[submodule "bundle/mustache"]
	path = bundle/mustache
	url = git://github.com/mustache/vim-mustache-handlebars.git
[submodule "bundle/handlebars"]
	path = bundle/handlebars
	url = git://github.com/nono/vim-handlebars.git
[submodule "bundle/ember.vim"]
	path = bundle/ember.vim
	url = git@github.com:dsawardekar/ember.vim.git
[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/portkey"]
	path = bundle/portkey
	url = git@github.com:dsawardekar/portkey.git
