[submodule "bundle/mustache"]
	path = bundle/mustache
	url = git://github.com/mustache/vim-mustache-handlebars.git
[submodule "bundle/handlebars"]
	path = bundle/handlebars
	url = git://github.com/nono/vim-handlebars.git
[submodule "ember.vim"]
	path = ember.vim
	url = git@github.com:dsawardekar/ember.vim.git
[submodule "bundle/ember.vim"]
	path = bundle/ember.vim
	url = git@github.com:dsawardekar/ember.vim.git
